body {
    margin: 0;
}

#screen {
    background-color: white;
    width: 100vw;
    height: 100vw;
}

#grid {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: flex-start;
}

h1 {
    font-size: 8vw;
    font-family: 'DM Mono', monospace;
    font-weight: 500;
    margin-top: -1vw;
    color: black;
    position: absolute;
    top: 18vw;
    left: 1vw;
}

h2 {
    font-size: 3vw;
    font-family: 'DC Mono', monospace;
    font-weight: 300;
    color: black;
    position: absolute;
    top: 6vw;
    left: 1vw;
}

#header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 300vw;
    background-color: white;
}


#shape1 {
    position: absolute;
    top: 5vw;
    left: 0vw;
    width: 40vw;
    height: 20vw;
    background-color: black;    
}

#shape2 {
    position: absolute;
    top: 5vw;
    left: 38vw;
    width: 8vw;
    height: 20vw;
    background-color: red;
}

#square6 {
    position: absolute;
    left: 0vw;
    top: 50vw;
    width: 50vw;
    height: 100vw;
    background-image: url(../res/rs2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

#square7 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;


    position: absolute;
    left: 60vw;
    top: 60vw;
    width: 30vw;
    height:30vw;
    background-color: black;
    color: white;
}



#txt_7 {
    font-family: 'DC Mono', monospace;
    font-weight: 300;
    font-size: 2.5vw;
    line-height: 3vw;
}


#square8 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;


    position: absolute;
    left: 10vw;
    top: 120vw;
    width: 30vw;
    height:30vw;
    background-color: black;
    color: white;
    
}



#square9 {
    position: absolute;
    left: 50vw;
    top: 110vw;
    width: 50vw;
    height: 100vw;
    background-image: url(../res/rs3.jpg);
    background-size: contain;
    background-repeat: no-repeat;

}

#txt {
    font-family: 'DC Mono', monospace;
    font-weight: 300;
    font-size: 2.5vw;
    line-height: 3vw;
}

#square10 {
    position: absolute;
    left: 0vw;
    top: 180vw;
    width: 50vw;
    height: 50vw;
    background-image: url(../res/code_screenshoot.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#square11 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;


    position: absolute;
    left: 60vw;
    top: 190vw;
    width: 30vw;
    height:30vw;
    background-color: black;
    color: white;
}


#square12 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 0vw;
    top: 180vw;
    width: 100vw;
    height: 50vw;
    background-color: black;
    color: white;
}

#sourcetxt {
    font-family: 'DC Mono', monospace;
    font-weight: 300;
    font-size: 2.5vw;
}


a {
    text-decoration: none;
  }

.grow {
    animation-name: grow;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes grow {
    0% {transform: scale(1, 1) ;}
    50% {transform: scale(1.666, 1.666);}
    100% {transform: scale(1, 1);}
}

.shape1Animation {
    animation-name: sh1Anim;
    animation-duration: 6s;
    animation-fill-mode: forwards;

}

@keyframes sh1Anim {
    0% {}
    50% {transform: scaleX(0.2); transform-origin: right;}
    75% {transform: translateX(22vw) scaleX(0.2) ;}
    100% {transform: translateX(40vw) scaleX(1.5); transform-origin: left;}
}