
body {
    background-color: #100e17;
    font-family: 'Nunito', sans-serif;
  }

  h1 {
      color: white;
      font-size: 60px;
  }

  h2 {
      color: white;
      font-size: 20px;
      margin-bottom: 30px;
  }

  

  img { 
    max-width: 100%;
    border-radius: 25px;
  }

  .button1 {
    padding: 5px;
    color: white;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: medium;
    margin-top: 10px;
    border-color: #e91e63;
    border-radius: 25px;
    border-style: solid;
    background-color: #e91e63;
    margin-left: 20px;
    margin-right: 20px;
}

.button2 {
    padding: 5px;
    color: white;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: medium;
    margin-top: 10px;
    border-color: #21FB96;
    border-radius: 25px;
    border-style: solid;
    background-color: #21FB96;
    margin-left: 20px;
    margin-right: 20px;
}

.button3 {
  padding: 5px;
  color: white;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: medium;
  margin-top: 10px;
  border-color: #061EF9;
  border-radius: 25px;
  border-style: solid;
  background-color: #061EF9;
  margin-left: 20px;
  margin-right: 20px;
}

.button4 {
  padding: 5px;
  color: white;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: medium;
  margin-top: 10px;
  border-color: #0B424A;
  border-radius: 25px;
  border-style: solid;
  background-color: #0B424A;
  margin-left: 20px;
  margin-right: 20px;
}

.button5 {
  padding: 5px;
  color: white;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: medium;
  margin-top: 10px;
  border-color: #FBC304;
  border-radius: 25px;
  border-style: solid;
  background-color: #FBC304;
  margin-left: 20px;
  margin-right: 20px;
}

  .container {
    display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
    
    height: 300px;
    width: 100%;
    top: 60px;
    left: calc(50% - 300px);

  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 280px;
    width: 200px;
    padding-top: 30px;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
  
  /*  to do:
      why i have to use :not(:first-child){} ?
      besides the first child?
  margin-left: -50px;*/
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }
  
  .card:not(:first-child) {
      margin-left: -50px;
  }
  
  .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }
  
  .title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 5px;
  }
  
 
